<%= stylesheet_link_tag "formatting"%>
<h1> A New Thing To Do: </h1>
<p>
  <strong>Event:</strong>
  <%= @item.event %>
  </p>
  <p>
   <strong>At time:  </strong>
   <%= @item.time%>
</p>
 
<p>
  <strong>Description	:</strong>
  <%= @item.description %>
</p>
	<strong>Is this event finished? </strong>
 	<%= @item.finished_event ? "Yes" : "No"%>
 	<p></p>
<%= link_to 'Back To the To-Do List', items_path %>

<%= link_to 'Edit', edit_item_path(@item) %>